@media (min-width:426px) and (max-width:768px){
 

    header{
      justify-items: center;
      align-items: center;
      
    }
  
    .logo-airborn{
      width: 70%;
      height: 50%;
    }
    
    .carrusel-desktop{
      display: none;
    }
    
    .imagen-producto{
      height: 100px;
    }
   
    /* 
   .container-publi-t{
      display: grid;
      grid-template-columns: (4,1fr);
      grid-template-rows: repeat(8,100px);
  
      grid-template-areas: 
      "remeras-t remeras-t chombas-t chombas-t "
      "remeras-t remeras-t chombas-t chombas-t "
      "remeras-t remeras-t chombas-t chombas-t"
      "pantalones-t pantalones-t accesorios-t accesorios-t"
      "pantalones-t pantalones-t accesorios-t accesorios-t"
      "pantalones-t pantalones-t accesorios-t accesorios-t"
      "zapatos-t zapatos-t zapatos-t zapatos-t"
      "zapatos-t zapatos-t zapatos-t zapatos-t";
  
      gap: 30px;
      margin: 15px;
    }
   */
    
  

}