@media (max-width:768px){
 

    header{
      justify-items: center;
      align-items: center;
      
    }
  
    .logo-airborn{
      width: 50%;
      height: 50%;
    }
    
    .carrusel-desktop{
      display: none;
    }
  
}