@media (min-width:769px) and (max-width:1024px){
    header{
       align-items: center;
       
        
        
    }

    .logo-airborn{
        width: 250px;
        
        
    }  

    .carrusel-tablet{
        display: none;
    }

    

   
}