@media (max-width:425px){
   
    .card.container{
        flex-direction: column !important;
    }
    
    .header{
        justify-items: center;
        align-items: center;

    }
    
    .logo-airborn{
        width: 70%;
        height: 50%;
    }
      
    .carrusel-desktop{
        display: none;
    }
   
      
    .imagen-producto{
        height: 100px;
    }
    
    .card.container{
        flex-direction: column !important;
    }
    
    

    .card-uno{
        
    }
  
    .card-dos{
       

    }

    .card-tres{
        

    }
}