@media (min-width:426px) and (max-width:768px){
 

    header{
      justify-items: center;
      align-items: center;
      
    }
  
    .logo-airborn{
      width: 70%;
      height: 50%;
    }
    
    .carrusel-desktop{
      display: none;
    }
    
    .imagen-producto{
      height: 100px;
    }
  
   

}