@media (min-width:769px) and (max-width:1024px){
    header{
       align-items: center;
        
        
    }

    .logo-airborn{
        width: 150px;
        
        
    }  

    .carrusel-mobile{
        display: none;
    }

    

   
}