* {
    margin: 0;
    padding: 0;
}



@media (max-width:767px){

}

.container-anuncio{
  display: flex;
  margin: 2px;
  background-color: black; 
  justify-content: center;
}

.anuncio-inicio{
  color: white;  
  font-size: 1rem;
  
       
}






