* {
  padding: 0;
  margin: 0;
}

.container-anuncio {
  background-color: #00193e;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 1px;
}

.anuncio-inicio {
  font-family: arial;
  color: white;
  font-size: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-bottom: #00193e;
}
header img {
  width: 30%;
  padding: 5px;
}
header nav {
  background-color: white;
}
header nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 15px;
}
header nav ul li {
  margin: 5px;
}
header nav ul li a {
  text-decoration: none;
  color: #00193e;
  font-family: arial;
}
header .boton-indumentaria {
  color: #00193e;
}

@media (max-width: 768px) {
  header {
    justify-items: center;
    align-items: center;
  }
  .logo-airborn {
    width: 50%;
    height: 50%;
  }
  .carrusel-desktop {
    display: none;
  }
  .container-card {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  header {
    align-items: center;
  }
  .logo-airborn {
    width: 250px;
  }
  .carrusel-mobile {
    display: none;
  }
  .boton-indumentaria {
    text-align: center;
  }
}
.titulo-productos {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
}

.container-card {
  display: grid;
  grid-template-columns: 3, 1fr;
  grid-template-rows: repeat(2, 240px);
  grid-template-areas: "card-1 card-2 card-3" "card-1 card-2 card-3";
  gap: 30px;
  margin: 20px;
}

.card-1 {
  grid-area: card-1;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.card-2 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  grid-area: card-2;
  border-radius: 1rem;
  padding: 1rem;
}

.card-3 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  grid-area: card-3;
  border-radius: 1rem;
  padding: 1rem;
}

.imagen-c {
  display: flex;
  justify-content: center;
}

.card-titulo {
  color: black;
  font-size: 1.3rem;
  text-align: center;
  font-family: arial;
  margin-bottom: 2px;
}

.card-descripcion {
  color: black;
  font-size: 1rem;
  text-align: left;
  margin-top: 1px;
  margin-bottom: 2px;
}

.card-precio {
  color: black;
  font-size: 1.5rem;
  text-align: center;
  font-family: arial;
  margin-top: 1px;
  margin-bottom: 2px;
}

.card-cuotas {
  color: black;
  font-size: 1rem;
  text-align: center;
  font-family: arial;
  margin-top: 1px;
  margin-bottom: 2px;
}

/* @media screen and (max-width: 768px){
   .container-card{
     grid-template-columns: repeat(auto-fit, minmax(200px,1fr));

   }
 } */
/*segunda opcion de cards*/
.card-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.card-uno {
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid gray;
}

.card-dos {
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid gray;
}

.card-tres {
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid gray;
}

.imagen-producto {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
