@import "../utilities/variables";
@import "../utilities/mixins";


.container-anuncio {
    background-color: $color-azul;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 1px;
}

.anuncio-inicio{
    font-family: $fuente-principal;
    color: $color-blanco;
    font-size: 1rem;
    
}
