@import "../utilities/variables";



.container-anuncio {
    background-color: $color-azul;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 1px;
}

.anuncio-inicio{
    font-family: Arial, Helvetica, sans-serif;
    color: $color-blanco;
    font-size: 1rem;
    
}
