.container-anuncio {
    background-color: #00193e;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 1px;
}

.anuncio-inicio{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1rem;
    
}
