@import "../utilities/variables";


.titulo-productos{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
  }

  .container-card{
    
    display: grid;
    grid-template-columns: (3,1fr);
    grid-template-rows: repeat(2,240px);

    grid-template-areas: 
    "card-1 card-2 card-3"
    "card-1 card-2 card-3";

    gap: 30px;
    margin: 20px;
  }

  .card-1{
     grid-area: card-1;
     border-radius: 1rem;
     box-shadow: 0 0 10px rgba(0,0,0,.5);
     padding: 1rem;
  }

  .card-2{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    grid-area: card-2;
    border-radius: 1rem;
    padding: 1rem;

  }
  .card-3{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    grid-area: card-3;
    border-radius: 1rem;
    padding: 1rem;
  }

  .imagen-c{
    display: flex;
    justify-content: center;
  }

  

  .card-titulo{
    color: $color-negro;
    font-size: 1.3rem;
    text-align: center;
    font-family: $fuente-principal;
    margin-bottom: 2px;
  }

  .card-descripcion{
    color: $color-negro;
    font-size: 1rem;
    text-align:left;
    margin-top: 1px;
    margin-bottom: 2px;
  }

  .card-precio{
    color: $color-negro;
    font-size: 1.5rem;
    text-align: center;
    font-family: $fuente-principal;
    margin-top: 1px;
    margin-bottom: 2px;
  }

  .card-cuotas{
    color: $color-negro;
    font-size: 1rem;
    text-align: center;
    font-family: $fuente-principal;
    margin-top: 1px;
    margin-bottom: 2px;
  }

 /* @media screen and (max-width: 768px){
    .container-card{
      grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    
    }
  } */

  /*segunda opcion de cards*/
  .card-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
 
  .card-uno{
    background-color: aquamarine;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid gray
    
    
    
  }

  .card-dos{
    
  }

  .card-tres{
    

  }
