@import "../utilities/variables";


.remeras-titulo{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
  }

  .container-card{
    
    display: grid;
    grid-template-columns: (3,1fr);
    grid-template-rows: repeat(2,260px);

    grid-template-areas: 
    "card-1 card-2 card-3"
    "card-1 card-2 card-3";

    gap: 40px;
    margin: 20px;
  }

  .card-1{
     grid-area: card-1;
     border-radius: 1rem;
     box-shadow: 0 0 10px rgba(0,0,0,.5);
     padding: 1rem;
  }

  .card-2{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    grid-area: card-2;
    border-radius: 1rem;
    padding: 1rem;

  }
  .card-3{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    grid-area: card-3;
    border-radius: 1rem;
    padding: 1rem;
  }

  .imagen-c{
    display: flex;
    justify-content: center;
  }

  /*.card-imagen{
    width: 50%;
    height: 70%;
    
  }*/

  .carg-titulo{
    color: $color-negro;
    font-size: 2%;
    text-align: center;
    font-family: $fuente-principal;
  }

  .card-descripcion{
    color: $color-negro;
    font-size: 1rem;
    text-align:left;
    
  }

  .card-precio{
    color: $color-negro;
    font-size: 1rem;
    text-align: center;
    font-family: $fuente-principal;
  }

  .card-cuotas{
    color: $color-negro;
    font-size: 1rem;
    text-align: center;
    font-family: $fuente-principal;
  }

  @media screen and (max-width: 768px){
    .container-card{
      grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    
    }
  }