
.titulo-footer{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 2rem;
   margin-top: 5rem;
   text-align: center;
   color: black;
}

.parrafo-footer{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1rem;
   padding: 5px;
   text-align: center;
   color: black;

}

.form-footer{
    justify-content: center;
    margin: 30px;
    padding: 10px;

}

