@import "../utilities/variables";
@import "../utilities/mixins";

header{
    @include flex-variables(flex, space-between, center);
    
    background-color: $color-blanco;
    padding: 15px;
    border-bottom: $color-azul;
    img{
       
       width: 30%;
        padding: 5px;
    }

    nav{
        background-color: $color-blanco;
        ul{
          display: flex;
         list-style: none;
         justify-content: center;
         padding: 15px;
         li{
          margin: 5px;
          a{
              text-decoration: none;
              color: $color-azul;
              font-family: $fuente-principal;
          }
         }
        }
      }

      .boton-indumentaria{
        color: $color-azul;
        text-align: center;
        }
}