

/*articulos desktop*/
.remeras{
    grid-area: remeras;
    
    background-image: url("../multimedia/remeras.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 490px;

}

.chombas{
    grid-area: chombas;
    
    background-image: url("../multimedia/chombas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
    

}

.pantalones{
    grid-area: pantalones;
    
    background-image: url("../multimedia/pantalones.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}

.accesorios{
    grid-area: accesorios;
    
    background-image: url("../multimedia/accesorios.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.zapatos{
    grid-area: zapatos;
    background-image: url("../multimedia/calzados.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

/*articulos tablet*/
.remeras{
    grid-area: remeras;
    
    background-image: url("../multimedia/remeras.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 490px;

}

.chombas{
    grid-area: chombas;
    
    background-image: url("../multimedia/chombas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
    

}

.pantalones{
    grid-area: pantalones;
    
    background-image: url("../multimedia/pantalones.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}

.accesorios{
    grid-area: accesorios;
    
    background-image: url("../multimedia/accesorios.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.zapatos{
    grid-area: zapatos;
    background-image: url("../multimedia/calzados.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

/*articulos tablet*/
.remeras{
    grid-area: remeras;
    
    background-image: url("../multimedia/remeras.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 490px;

}

.chombas{
    grid-area: chombas;
    
    background-image: url("../multimedia/chombas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
    

}

.pantalones{
    grid-area: pantalones;
    
    background-image: url("../multimedia/pantalones.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}

.accesorios{
    grid-area: accesorios;
    
    background-image: url("../multimedia/accesorios.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.zapatos{
    grid-area: zapatos;
    background-image: url("../multimedia/calzados.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}