@import "../utilities/variables";

/*articulos desktop*/
.container-publi{
    display: grid;
    grid-template-columns:(5,1fr);
    grid-template-rows: repeat(6,100px);

    grid-template-areas: 
    "remeras remeras chombas chombas chombas"
    "remeras remeras chombas chombas chombas"
    "remeras remeras pantalones pantalones pantalones"
    "remeras remeras pantalones pantalones pantalones"
    "accesorios accesorios calzados calzados calzados"
    "accesorios accesorios calzados calzados calzados";

    gap: 30px;
    margin: 15px;
}
.remeras{
    grid-area: remeras;
    
    background-image: url("../multimedia/remeras.png");
    background-repeat: no-repeat;
    background-size: cover;
    

}

.chombas{
    grid-area: chombas;
    
    background-image: url("../multimedia/chombas.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    

}

.pantalones{
    grid-area: pantalones;
    
    background-image: url("../multimedia/pantalones.png");
    background-repeat: no-repeat;
    background-size: cover;


}

.accesorios{
    grid-area: accesorios;
    
    background-image: url("../multimedia/accesorios.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.calzados{
    grid-area: calzados;
    background-image: url("../multimedia/calzados.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.link-remeras{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    transition: 1s;
    
}

.link-remeras:hover{
    color: $color-azul;
    margin: 2px;
}

.link-chombas{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-style: italic;
    text-align: end;
    margin: 5px;
}

.link-pantalones{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-style: italic;
    text-align: start;
    margin: 5px;
    
}

.link-accesorios{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    
}

.link-calzados{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-style: italic;
    text-align: end;
    margin: 5px;
   
}

/*articulos tablet*/
.remeras-t{
    grid-area: remeras-t;
    
    background-image: url("../multimedia/");
    background-repeat: no-repeat;
    background-size: cover;
    height: 490px;

}

.chombas-t{
    grid-area: chombas-t;
    
    background-image: url("../multimedia/");
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
    

}

.pantalones-t{
    grid-area: pantalones-t;
    
    background-image: url("../multimedia/");
    background-repeat: no-repeat;
    background-size: cover;


}

.accesorios-t{
    grid-area: accesorios-t;
    
    background-image: url("../multimedia/");
    background-repeat: no-repeat;
    background-size: cover;

}

.zapatos-t{
    grid-area: zapatos-t;
    background-image: url("../multimedia/");
    background-repeat: no-repeat;
    background-size: cover;

}

/*articulos tablet*/
.remeras-m{
    grid-area: remeras-m;
    
    background-image: url("../multimedia/");
    background-repeat: no-repeat;
    background-size: cover;
    height: 490px;

}

.chombas-m{
    grid-area: chombas-m;
    
    background-image: url("../multimedia/");
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
    

}

.pantalones-m{
    grid-area: pantalones-m;
    
    background-image: url("../multimedia/");
    background-repeat: no-repeat;
    background-size: cover;


}

.accesorios-m{
    grid-area: accesorios-m;
    
    background-image: url("../multimedia/");
    background-repeat: no-repeat;
    background-size: cover;

}

.zapatos-m{
    grid-area: zapatos-m;
    background-image: url("../multimedia/");
    background-repeat: no-repeat;
    background-size: cover;

}